pc_credential: pc_user # credential reference from "vaults" in global.yml file
cvm_credential: cvm_credential # credential reference from "vaults" in global.yml file

pc_ip: valid-pc-ip # PC IP address (Foundation Central PC)

common_network_settings: &common_network_settings
  dns_servers:
    - valid-ip
    - valid-ip
  ntp_servers:
    - "0.us.pool.ntp.org"

network: &network # Optional.
  cvm_gateway: valid-gateway-ip #Eg : "10.1.1.1"
  cvm_netmask: valid-netmask #Eg : "255.255.255.0"
  ipmi_gateway: valid-ipmi-gateway-ip #Eg: "10.49.41.129"
  ipmi_netmask: valid-ipmi-netmask #Eg : "255.255.255.0"

ipam_config: # Optional. Provide if you want to use IPAM for IP assignment. Note: Only InfoBlox is supported for now.
  host_subnet: "10.10.10.0/24" #Optional. Host Subnet will be used to assign CVM & Hypervisor IPs from IPAM
  ipmi_subnet: "11.11.11.0/24" #Optional. IPMI Subnet will be used to assign IPMI IP from IPAM
  domain: "test.com" # Domain to create Host Record

create_clusters:
  - cluster_name: cluster-01
    common_network_settings: *common_network_settings
    network : *network # Optional. Remove the field if you want to Re-use Existing network settings
    nodes_list:
      - node_serial: node-serial
        #If you want to change CVM IP,Hypervisor IP, IPMI IP, and Hypervisor Hostname, you can do it here using Optional parameters
        cvm_ip: valid-cvm-ip #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip #Optional #Host IP
        ipmi_ip: valid-ipmi-ip #Optional
        hypervisor_hostname: hostname-03 #Optional 
      - node_serial: node-serial
        cvm_ip: valid-cvm-ip #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-4 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-4 #Optional
        hypervisor_hostname: hostname-04 #Optional
    cluster_external_ip: valid-cluster-vip-ip #Optional.
    redundancy_factor: 2 #Nutanix supports RF2, and also RF3 only if the cluster has 5+ nodes #Optional #Default is RF2
    timezone: "America/New_York" #Optional. Timezone of the cluster
  - cluster_name: cluster-02
    common_network_settings: *common_network_settings
    network: # Can be defined inline if needed instead of using anchors
      cvm_gateway: valid-gateway-ip # Eg: "10.1.1.1"
      cvm_netmask: valid-netmask # Eg: "255.255.255.0"
      ipmi_gateway: valid-ipmi-gateway-ip # Eg: "10.49.41.129"
      ipmi_netmask: valid-ipmi-netmask # Eg: "255.255.255.0"
    nodes_list:
      - node_serial: node-serial-5
        #If you want to change CVM IP,Hypervisor IP, IPMI IP, and Hypervisor Hostname, you can do it here using Optional parameters
        cvm_ip: valid-cvm-ip-5 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-5 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-5 #Optional
        hypervisor_hostname: hostname-05 #Optional
      - node_serial: node-serial-6
        cvm_ip: valid-cvm-ip-6 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-6 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-6 #Optional
        hypervisor_hostname: hostname-06 #Optional
    cluster_external_ip: valid-cluster-vip-ip #Optional.
    redundancy_factor: 2 #Nutanix supports RF2, and also RF3 only if the cluster has 5+ nodes #Optional #Default is RF2
    timezone: "America/New_York" #Optional. Timezone of the cluster

