pc_credential: pc_user # credential reference from "vaults" in global.yml file
cvm_credential: cvm_credential # credential reference from "vaults" in global.yml file

pc_ip: valid-pc-ip # PC IP address (Foundation Central PC)

common_network_settings: &common_network_settings
  dns_servers:
    - "valid-ip1"
    - "valid-ip2"
  ntp_servers:
    - "0.us.pool.ntp.org"

network: &network # Optional.
  cvm_gateway: valid-gateway-ip # Eg : "10.1.1.1"
  cvm_netmask: valid netmask # Eg: "255.255.255.0"
  ipmi_gateway: valid-ipmi-gateway-ip # Eg: "10.49.41.129"
  ipmi_netmask: valid-ipmi-netmask # Eg: "255.255.255.128"

ipam_config: # Optional. Provide if you want to use IPAM for IP assignment. Note: Only InfoBlox is supported for now.
  host_subnet: "10.10.10.0/24" #Optional. Host Subnet will be used to assign CVM & Hypervisor IPs from IPAM
  ipmi_subnet: "11.11.11.0/24" #Optional. IPMI Subnet will be used to assign IPMI IP from IPAM
  domain: "test.com" # Domain to create Host Record

imaging_parameters: &imaging_parameters
  aos_package_url: "http://path-to-nutanix_installer_package.tar.gz"
  aos_package_sha256sum: string # Optional. SHA256sum of the AOS package. If omitted, checksum validation will be skipped.
  aos_metadata_url: string #Optional. URL to download the AOS metadata JSON.

hypervisor_isos: &hypervisor_isos
  - hypervisor_type: "kvm"
    url: "http://path-to-AHV-DVD-x86_64-el8.nutanix.version.iso"
    sha256sum: string #Optional. SHA256sum of the hypervisor ISO. If omitted, the checksum will not be validated.


# imaging: Defines batches of nodes to be imaged, with each batch specifying imaging parameters, network settings, and a list of nodes.
imaging:
  # List of node batches to image together.
  # Nodes in same Network can be grouped together in single Batch. 
  # Use multiple batches to image nodes in different networks or if you want to image with different imaging parameters.
  - imaging_parameters: *imaging_parameters
    hypervisor_isos: *hypervisor_isos
    common_network_settings: *common_network_settings
    network: *network # Optional. Remove the field if you want to Re-use Existing network settings. #Can also be defined inline.
    nodes_list:
      - node_serial: node-serial-3
        #If you want to change CVM IP,Hypervisor IP, IPMI IP, and Hypervisor Hostname, you can do it here using Optional parameters
        cvm_ip: valid-cvm-ip-3 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-3 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-3 #Optional
        hypervisor_hostname: hostname-03 #Optional 
      - node_serial: node-serial-4
        cvm_ip: valid-cvm-ip-4 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-4 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-4 #Optional
        hypervisor_hostname: hostname-04 #Optional

  #Another batch of nodes. These are imaged in a separate run. #Optional.
  - imaging_parameters: *imaging_parameters
    hypervisor_isos: *hypervisor_isos
    common_network_settings: *common_network_settings
    network: *network # Optional. Remove the field if you want to Re-use Existing network settings. #Can also be defined inline.
    nodes_list:
      - node_serial: node-serial-5
        #If you want to change CVM IP,Hypervisor IP, IPMI IP, and Hypervisor Hostname, you can do it here using Optional parameters
        cvm_ip: valid-cvm-ip-5 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-5 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-5 #Optional
        hypervisor_hostname: hostname-05 #Optional 
      - node_serial: node-serial-6
        cvm_ip: valid-cvm-ip-6 #Optional
        cvm_ram_gb: 12 #Default is 12 GB, if not specified
        hypervisor_ip: valid-hypervisor-ip-6 #Optional #Host IP
        ipmi_ip: valid-ipmi-ip-6 #Optional
        hypervisor_hostname: hostname-06 #Optional