pc_ip: valid-pc-ip
# Specify a user with permission to make API calls.
pc_credential: pc_user # credential reference from "vaults" in global.yml file

enable_fc: true
generate_fc_api_key: true
fc_alias_key_name: api_key1 # name of the API key generated in FC